/*Fondo Principal*/


html
{
    scroll-behavior: smooth;
}

@font-face {
    font-family: w95fa;
    src: url(w95fa.woff);
}

body
{
    background-color: #000000;
    background-image: url("6348.jpg");
    background-repeat: repeat;
    background-size:contain;
    background-attachment: scroll;

    font-family: w95fa;
    font-size:larger;
    flex-wrap: wrap;

    /*Aplicacion de grilla en el Body categoria principales*/


    display: grid;
    grid-template-areas: "Descripcion_Historia" 
                        "Quescodigodecolores"
                        "Calc_Resistencias";
    
}



h1{color: white; 
    background-color:rgb(240, 125, 42);
    font-family: w95fa;
    font-size: 40px;
    padding-left: 32%;
    padding-top: 15px;
    padding-bottom: 10px;
     
}

h2,h3{color: white; 
    background-color:rgb(240, 125, 42); 
    font-family: w95fa;
    
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    margin: 15px 15px 30px 15px;
    min-width: 250px;
    min-height: auto;
   
}

h4{
    color:rgb(240, 125, 42);
    font-family: w95fa;
    font-size: xx-large;
    padding-left: 20px;
   padding-top: 20px;
   margin-bottom: 0px;
   text-align: center;
}

ul {
    padding-left: 20px;
    list-style-type: none;
}
  
ul li {
    display: inline;
    padding-left:30px;
    padding-right:30px;
    
}


.indice
{

    background-color: white;
    margin: 15px 15px 30px 15px;
    padding-bottom: 10px;

}

.indice ul
{
    font-family: w95fa;
    font-size: x-large;
    text-align: center;
}

.indice a:link,  a:visited
{
    color: rgb(240, 125, 42);
    text-decoration: none;
}

.indice a:hover, a:active
{
    color:#75fd92 ;
    text-size-adjust: large;
}


/*CAMBIO A GRILLA///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Descrpicion Historia*/

.Descripcion_Historia{
    grid-area: Descripcion_Historia;
    background-color: white;
    margin: 15px 15px 15px 15px;
    padding-bottom: 10px;
    min-width: 250px;
    min-height: 250px;
 
    display: grid;
    grid-template-areas: "Descripcion_Historia_texto  Ilustracion_1";
    
}

.Descripcion_Historia_texto
{
    grid-area:Descripcion_Historia_texto;
    margin: 20px 20px 10px 20px;
    min-width: 250px;
    min-height: 250px;
    
}
.Descripcion_Historia p
{
    text-align:justify;
}

.Ilustracion_1
{ 
    
    grid-area:Ilustracion_1;
    max-width: 360px;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 10px;
    
  
}

/*Seccion: Que es el codigo de colores */

.Quescodigodecolores 
{
    grid-area: Quescodigodecolores;
    background-color: white;
    padding-bottom: 2%;
    margin: 15px 15px 15px 15px;
    min-height: 250px;
    min-width: 250px;
   

    display: grid;
    grid-template-areas: "Ilustracion_2 Quecodigodecolores_texto";

}

.Quescodigodecolores_texto
{
    grid-area:Quecodigodecolores_texto;
    margin: 15px 20px 15px 13px;
    

}


.Quescodigodecolores p
{
    text-align:justify;
}

.Ilustracion_2
{
    grid-area:Ilustracion_2;
    padding-left: 10px;
    margin: 15px 12px 15px 15px;
    max-width: 450px;
    
}

/*Seleccion_De_Bandas*/
.Seleccion_De_Bandas
{
    background-color: white;
   padding: 5px 5px 10px 5px;
    margin: 15px 15px 10px 15px;
 
}

.Seleccion_De_Bandas li
{
   
   margin:15px 15px 15px 15px;
   padding-right:0px;
   padding-left:0px;    /*Estos dos ultimos son para sobrescribir la del ul li del indice */ 
    
}

#Boton_para_Calcular_4,#Boton_para_Calcular_5,#Boton_para_Calcular_6
{
    margin: 15px 15px 15px 15px;
    width: 30%;
}

#Boton_para_Calcular_4:hover,#Boton_para_Calcular_5:hover,#Boton_para_Calcular_6:hover,#Boton_para_Calcular_4:active,#Boton_para_Calcular_5:active,#Boton_para_Calcular_6:active
{
    background-color:   rgb(80, 173, 80) ;
    
}


.Seleccion_De_Bandas p
{
    margin: 15px 15px 15px 15px;
}


/*Calculadora de Resistrnecias */

.Calc_Resistencias,.Calc_Resistencias_5,.Calc_Resistencias_6
{
    background-color: white;
    grid-area: Calc_Resistencias;
    margin: 15px 15px 30px 15px;
    display: grid;
    grid-template-areas: "grilla1 Grilla2";
   
    
}



.Calc_Resistencias p ,.Calc_Resistencias_5 p,.Calc_Resistencias_6 p
{
    text-align:justify;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
}

/*El Canvas 2*/
#myCanvas
{
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 32px;
}

.Ilustracion_5
{
    max-width: 450px;
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 32px;
}

#Boton_para_Calcular,#Banda_PPM,#Banda_Multiplicador,#Banda_Multiplicador_5,#Banda_Multiplicador_6,#Color_segunda_banda,#Color_Primera_Banda,#Banda_tolerancia,#Color_Tercera_banda,#resultado_calc,#Color_segunda_banda_5,#Color_Primera_Banda_5,#Color_segunda_banda_6,#Color_Primera_Banda_6,#Color_Tercera_banda_6,#Banda_tolerancia_6,#Banda_tolerancia_5
{
   
    width: 45%;
    
    margin-left: 20px;
    margin-top: 25px;
}

#Boton_para_Calcular,#Boton_para_Calcular_con_5_bandas,#Boton_para_Calcular_con_6_bandas
{
    margin-left: 20px;
    margin-bottom: 30px;
    width: 45%;
}

h5
{
    font-family: w95fa;
    font-size: 50px;
    color: rgb(240, 125, 42);
   
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 15%;

}

#Boton_para_Calcular:hover,#Boton_para_Calcular_con_5_bandas:hover, #Boton_para_Calcular:active, #Boton_para_Calcular_con_5_bandas:active, #Boton_para_Calcular_con_6_bandas:active, #Boton_para_Calcular_con_6_bandas:hover
{
    background-color:   rgb(80, 173, 80) ;
}

#Color_segunda_banda:hover,#Color_segunda_banda_5:hover,#Color_segunda_banda_6:hover
{
    background-color:   rgb(80, 173, 80) ;
}

#Color_Primera_Banda:hover,#Color_Primera_Banda_5:hover,#Color_Primera_Banda_6:hover
{
    background-color:   rgb(80, 173, 80) ;
}


#Banda_Multiplicador:hover,#Banda_Multiplicador_5:hover,#Banda_Multiplicador_6:hover,#Banda_PPM:hover
{
    background-color:   rgb(80, 173, 80) ;
}


#Cuantas_Bandas
{
    margin-left: 20px;
    margin-top: 25px;
}


#Resistencia_Colores
{
    
    float: right;
    background-color: grey;
}


.grilla1 {
    grid-area: grilla1;

}

.Grilla2{
    grid-area: Grilla2;
}

.h5
{
    margin: 15px 10px 15px 20px;
}


/*Footer*/

footer
{
    
    margin-top: 20px;
    margin-left: 5px;
    color:black;
    padding-bottom: 2%;
    background-color:white;
    margin: 15px 15px 30px 15px;
    
}

.f-Alumnos
{
    width: 50%;
    float: left;


}

.f-Alumnos p
{
    
    font-family:  w95fa;
    margin-left:15px;

}

.f-Alumnos a
{
    font-family:  w95fa;
    text-decoration: none;
    margin-left:15px;
}

.f-Alumnos a:link,  a:visited
{
    color: rgb(240, 125, 42);
    text-decoration: none;
}

.f-Alumnos a:hover, a:active
{
    color:rgb(80, 173, 80) ;
    text-size-adjust: large;
}

.f-Alumnos h4
{
    color:rgb(240, 125, 42);
    font-family:  w95fa;
    text-align: left;
    margin-left:10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.f-Alumnos ul
{
    margin-top: 0px;
    margin-bottom: 0px;

}

.f-Institucion h4
{
    color:rgb(240, 125, 42);
    font-family:  w95fa;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

.f-Institucion
{
    width: 45%;
    float: right;
}

/*Tecnica a la Esperanza*/

@media (max-width:850px){

    .Ilustracion_1{
        display:none;
    }

    .Ilustracion_2
    {
        display: none;
    }
    
    .Descripcion_Historia p
    {
        text-align:justify;
        width:90%;
      
        margin-left: 20px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .Quescodigodecolores p
    {
        text-align:justify;
        width:90%;
       
        margin-left: 20px;
        margin-top: 15px;
        margin-left: 15px;
    }

    
    .Ilustracion_4
    {
        width: 200px;
    }

.Calc_Resistencias,.Calc_Resistencias_5,.Calc_Resistencias_6
{
    display: grid;
    grid-template-areas: "grilla1"
                         "Grilla2";
}

.grilla1 {
    grid-area: grilla1;

}

.grilla1 p {
    width: 75%;

}

.Grilla2{
    grid-area: Grilla2;
}
}

.Grilla2 p{
   width: 75%;
}
