/*Fondo Principal*/


html
{
    scroll-behavior: smooth;
}

@font-face {
    font-family: w95fa;
    src: url(w95fa.woff);
}

body
{
    background-color: rgb(37, 112, 37);
    background-image: url("6348.jpg");
    background-repeat: repeat;
    background-size:contain;
    background-attachment: scroll;

    font-family: w95fa;
    font-size:larger;
    flex-wrap: wrap;
    
}



h1{color: white; 
    background-color: rgb(240, 125, 42);
    font-family: w95fa;
    font: size 50px;
    padding-left: 32%;
    padding-top: 15px;
    padding-bottom: 10px;
     
}

h2,h3{color: white; 
    background-color: rgb(240, 125, 42); 
    font-family: w95fa;
    
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    margin: 15px 15px 30px 15px;
    min-width: 250px;
    min-height: auto;
   
}

h4{
    color:rgb(240, 125, 42);
    font-family: w95fa;
    font-size: xx-large;
    padding-left: 20px;
   padding-top: 20px;
   margin-bottom: 0px;
   text-align: center;
}

ul {
    padding-left: 20px;
    list-style-type: none;
}
  
ul li {
    display: inline;
    padding-left:30px;
    padding-right:30px;
    
}


.indice
{

    background-color: white;
    margin: 15px 15px 30px 15px;

}

.indice ul
{
    font-family: w95fa;
    font-size: x-large;
    text-align: center;
}

.indice a:link,  a:visited
{
    color: rgb(240, 125, 42);
    text-decoration: none;
}

.indice a:hover, a:active
{
    color:rgb(80, 173, 80) ;
    text-size-adjust: large;
}

/*Descrpicion Historia*/

.Descripcion_Historia{
    background-color: white;
    margin: 15px 15px 15px 15px;
    padding-bottom: 2%;
    min-width: 250px;
    min-height: 250px;
    overflow: auto;
    
}

.Descripcion_Historia p
{
    text-align:justify;
    width: 45%;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
     min-width: 250px;
     min-height: 250px;
}

.Ilustracion_1
{ 
    width: 45%;
    float:right;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 10px;
    min-width: 250px;
  
}

/*Seccion: Que es el codigo de colores */

.Quescodigodecolores 
{
    background-color: white;
    padding-bottom: 2%;
    margin: 15px 15px 15px 15px;
    min-height: 250px;
    min-width: 250px;
    overflow: auto;
}

.Quescodigodecolores p
{
    /*column-count: 2;
    column-gap: 50px;*/

    text-align:justify;
    width: 45%;
    float: left;
    margin-left: 20px;
    margin-top: 50px;


}

.Ilustracion_2
{
    width: 45%;
    float:right;
    padding-left: 10px;
    margin-right: 40px;
    
}





/*Calculadora de Resistrnecias */

.Calc_Resistencias
{
    background-color: white;
    
    margin: 15px 15px 30px 15px;
    min-height: 250px;
    min-width: 250px;
    overflow: auto;
    
}

.Calc_Resistencias p 
{
    text-align:justify;
    width: 100%;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

#elCanvas
{
    float: left;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 32px;
}

#Boton_para_Calcular,#Banda_Multiplicador,#Color_segunda_banda,#Color_Primera_Banda,#Barra_de_Tolerancia,#resultado_calc
{
   
    width: 50%;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
}

#Boton_para_Calcular:hover, #Boton_para_Calcular:active
{
    background-color:rgb(104, 233, 104) ;
}

#Color_segunda_banda:hover
{
    background-color:rgb(104, 233, 104) ;
}

#Color_Primera_Banda:hover
{
    background-color:rgb(104, 233, 104) ;
}


#Banda_Multiplicador:hover
{
    background-color:rgb(104, 233, 104) ;
}


#Cuantas_Bandas
{
    margin-left: 20px;
    margin-top: 25px;
}


#Resistencia_Colores
{
    
    float: right;
    background-color: grey;
}




/*Footer*/

footer
{
    
    margin-top: 20px;
    margin-left: 5px;
    color:black;
    padding-bottom: 2%;
    background-color:white;
    margin: 15px 15px 30px 15px;
    min-height: 250px;
    min-width: 250px;
    overflow: auto;
}

.f-Alumnos
{
    width: 50%;
    float: left;


}

.f-Alumnos p
{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow ', sans-serif;
    margin-left:15px;

}

.f-Alumnos a
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    margin-left:15px;
}

.f-Alumnos a:link,  a:visited
{
    color: rgb(240, 125, 42);
    text-decoration: none;
}

.f-Alumnos a:hover, a:active
{
    color:rgb(80, 173, 80) ;
    text-size-adjust: large;
}

.f-Alumnos h4
{
    color:rgb(240, 125, 42);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin-left:10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.f-Alumnos ul
{
    margin-top: 0px;
    margin-bottom: 0px;

}

.f-Institucion h4
{
    color:rgb(240, 125, 42);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

.f-Institucion
{
    width: 45%;
    float: right;
}

/*Tecnica a la Esperanza*/

@media (max-width:720px){

    .Ilustracion_1{
        display:none;
    }

    .Ilustracion_2
    {
        display: none;
    }
    
    .Descripcion_Historia p
    {
        text-align:justify;
        width:90%;
        float: none;
        margin-left: 20px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .Quescodigodecolores p
    {
        text-align:justify;
        width:90%;
        float: none;
        margin-left: 20px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .Ilustracion_4
    {
        width: 200px;
    }
}

